.git
.gitignore
.dockerignore

node_modules
.next
out
build
dist

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Dockerfile.bak-*
docker-compose.yml.bak
*.bak
*.bak-*

.vscode
.idea
.DS_Store
Thumbs.db
